node_modules
.turbo
dist
.next
out
build
/lib
/apps/functions/lib
*.log
.env
.env.*
!.env.example
!.env.production
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log
coverage
.DS_Store
*.tsbuildinfo
data/drive-invoices/
